* {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 80% 10%;
}

header {
    grid-area: Header;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

main {
    grid-area: Main;
}

.mainContainer {
    display: flex;
    flex-flow: row wrap;
}

.box {
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
}


