* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
    display: grid;
    line-height: 1.6;
    background-color: #f2f2f2;
    object-fit: cover;
    background-position: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem;
    height: 40%;
    background-color: #3d65ba;
    
}

header img {
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    padding-left: 3rem;
    padding-right: 1rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

main {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

form {
    width: 500px;
    min-width: 300px;
    margin: 2rem 0;
    padding: 5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-top: #2b639f solid 10px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    text-align: center;
    grid-column: 1 / 2;
    justify-self: right;
    align-self: center;
    padding-right: 1em;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    grid-column: 2 / 3;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    grid-column: 2 / 3;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

p {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}