* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas: 
    "Header Header Header"
    "Main Main Main"
    "Footer Footer Footer";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 10% 80% 10%;
    color: white;
}

header {
    grid-area: Header;
    background-color: #3d65ba;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 1rem;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}
/*after this is matthew's code for menu page*/
/*menu options styling*/
section a{
text-decoration: none;
color:black;
}
.section-menu-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.menu-option {
    color: white;
    width: 300px;
    padding: 20px 40px;
    margin: 15px 0;
    border-radius: 5px;
    background-color: #546d89;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border:none;
}

.menu-option:hover {
    opacity: 50%;
}

/*menu image styling*/
.section-menu-image img{
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-45%);
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 5px 5px grey;
}

/*.section-menu-image img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 5px 5px grey;
}*/
