header {
    grid-area: Header;
    background-color: #3d65ba;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 3rem;
    padding-right: 1rem;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}


main, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px ;
}

/* Stijlen voor het formulier */
form {
    max-width: 500px;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

}

.input-group {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    
}

label {
    display: none; /* Label wordt verborgen om ruimte te besparen */
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
