<section class="current-pokemon-container">
    <article class="current-content">
        <h1>Jouw pokemon</h1>
        <img src="<%= cPokemon.sprites.other.showdown.front_default %>"
            alt="<%= cPokemon.name.charAt(0).toUpperCase() %>">
        <h2>
            <%= cPokemon.name %>
        </h2>
    </article>
</section>