<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeAdventures</title>
    <link rel="stylesheet" href="/css/styleV2.css">
    <script src="https://kit.fontawesome.com/7450ea0e8a.js" crossorigin="anonymous"></script>
</head>