<header class="navbar" id="navbar-hamburger">
    <nav id="topnav">
        <a href="/menu"><img src="/assets/logo-game.png" alt="Logo"></a>
        <a href="javascript:void(0);" class="icon" id="hamburger" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
        </a>
        <ul id="ul-menu">
            <li class="hide-navbar"><a href="/guesspokemon">Speel</a></li>
            <li class="hide-navbar"><a href="/overzicht">Overzicht</a></li>
            <li class="hide-navbar"><a href="/teamplanner">TeamPlanner</a></li>
            <li class="hide-navbar"><a href="/compare">Compare</a></li>
            <li class="hide-navbar"><a href="/">Uitloggen &nbsp<i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
  </header>
  
  <header class="navbar" id="navbar-normal">
    <a href="/menu"><img src="/assets/logo-game.png" alt="Logo"></a>
    <nav>
        <ul>
            <li class="hide-navbar"><a href="/guesspokemon">Speel</a></li>
            <li class="hide-navbar"><a href="/overzicht">Overzicht</a></li>
            <li class="hide-navbar"><a href="/teamplanner">TeamPlanner</a></li>
            <li class="hide-navbar"><a href="/compare">Compare</a></li>
            <li class="hide-navbar"><a href="/">Uitloggen</a> &nbsp<i class="fa-solid fa-user"></i></li>
        </ul>
        <li id="hamburger"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
    </nav>
  </header>
  
  