<header class="navbar">
    <img src="/assets/logo-game.png" alt="Logo">
    <nav>
        <ul>
            <li class="hide-navbar"><a href="/guesspokemon">Spelen</a></li>
            <li class="hide-navbar"><a href="/overzicht">Overzicht</a></li>
            <li class="hide-navbar"><a href="/teamplanner">TeamPlanner</a></li>
            <li class="hide-navbar"><a href="/compare">Vergelijken</a></li>
            <li class="hide-navbar"><a href="/">Uitloggen</a> &nbsp<i class="fa-solid fa-user"></i></li>
            <li id="hamburger"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
</header>


