<html lang="nl-be">
    <%- include("partials/head") %>
    <body>
    <header id="navbar-index">
        <h1>Projecten</h1>
    </header>
    <main class="index-container">
        <a href="/login">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/game-background.jpg" alt="pokemon">
                    <h1>PokeAdventures</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/fortnite.jpg" alt="pokemon">
                    <h1>Fortnite</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/fifa.jpg" alt="pokemon">
                    <h1>Fifa</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/lego.jpg" alt="pokemon">
                    <h1>LegoMasters</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/lotr.jpg" alt="pokemon">
                    <h1>LOTR</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/magic-the-gathering-legends.jpg" alt="pokemon">
                    <h1>MTG</h1>
                </article>
            </section>
        </a>
    </main>
    <aside>
    </aside>
    <%- include("partials/footer") %>
</body>
</html>