<html lang="nl-be">
    <%- include("partials/head") %>
    <body>
    <header id="navbar-index">
        <h1>Projecten</h1>
    </header>
    <main id="login-container">
        <section>
            <article id="login-icon">
                <i class="fa-solid fa-user"></i>
            </article>
        </section>
        <section id="login-content">
            <article>
                <form action="#">
                    <label for="email">Email:</label>
                    <br>
                    <input type="email">
                    <br>
                    <br>
                    <label for="password">Password:</label>
                    <br>
                    <input type="password">
                </form>
                <button>Inloggen</button>
                <br>
                <a href="#">Registreer</a>
            </article>
        </section>
    </main>
    <aside class="index-container">
        <a href="tester.html">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/samuel-speziali-4-by-samuel-speziali.jpg" alt="pokemon">
                    <h1>PokeAdventures</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/fortnite-background-34h5tua0czqu7u9t.jpg" alt="pokemon">
                    <h1>Fortnite</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/EA-Sports-FC-24.jpg" alt="pokemon">
                    <h1>Fifa</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/mood-design-studio-ninjago-poster-02.jpg" alt="pokemon">
                    <h1>LegoMasters</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/0b84cdf69f54427b8e3a68165a390bb93e88c082b8d51c6657cd15776a63282c.jpg" alt="pokemon">
                    <h1>LOTR</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/magic-the-gathering-legends.jpg" alt="pokemon">
                    <h1>MTG</h1>
                </article>
            </section>
        </a>
    </aside>
    </main>
    <%- include("partials/footer") %>
</body>
</html>