<html lang="nl-be">
    <%- include("partials/head") %>
    <body>
    <header id="navbar-index">
        <h1>Projecten</h1>
    </header>
    <main id="login-container">
        <section>
            <article id="login-icon">
                <i class="fa-solid fa-user"></i>
            </article>
        </section>
        <section id="login-content">
            <article>
                <form action="/" method="post">
                    <label for="username" class="label-login">Username:</label>
                    <input type="text" id="username" class="input-login" name="username">
                    <label for="password" class="label-login">Password:</label>
                    <input type="password"  id="password" class="input-login" name="password">
                </form>
                <button type="submit">Inloggen</button>
                <br>
                <a href="/registratie">Registreer</a>
            </article>
        </section>
    </main>
    <aside class="index-container">
        <a href="/tester">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/game-background.jpg" alt="pokemon">
                    <h1>PokeAdventures</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/fortnite.jpg" alt="pokemon">
                    <h1>Fortnite</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/fifa.jpg" alt="pokemon">
                    <h1>Fifa</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/lego.jpg" alt="pokemon">
                    <h1>LegoMasters</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/lotr.jpg" alt="pokemon">
                    <h1>LOTR</h1>
                </article>
            </section>
        </a>
        <a href="#">
            <section class="project-box">
                <article class="project-content">
                    <img src="/assets/magic-the-gathering-legends.jpg" alt="pokemon">
                    <h1>MTG</h1>
                </article>
            </section>
        </a>
    </aside>
    </main>
    <%- include("partials/footer") %>
</body>
</html>