<!DOCTYPE html>
<html lang="nl-be">
    <%- include("partials/head") %>
<body>
    <header class="navbar">
        <img src="/assets/Logo.png" alt="Logo">
    </header>

    <main class="inlogContainer">
        <form class="inlogContent" action="/tester">
            <label for="username">Gebruikersnaam</label>
            <input type="text" id="username" name="username">
        
            <label for="password">Wachtwoord</label>
            <input type="password" id="password" name="password">
            
            <button type="submit">Inloggen</button>
        </form>

        
        

    </main>
    <%- include("partials/footer") %>
</body>
</html>