<html lang="nl-be">
<%- include("partials/head") %>
<body>
<%- include("partials/header") %>
<main id="registratie-container">
    <section id="registratie-box">
        <form action="/login" method="post">
            <div>
                <label for="username">Username</label>
                <input class="login-input" type="text" name="username" placeholder="Username" id="username">
            </div>
            <div>
                <label for="password">Password</label>
                <input class="login-input" type="password" name="password" placeholder="Password" id="password">
            </div>
            <a href="/registratie">Registreer</a>
            <button class="button-login" type="submit">Submit</button>
        </form>
    </section>
</main>
<%- include("partials/footer") %>
</body>
</html>
