<html lang="en">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
        <%- include("partials/header") %>
<main id="main-menu">
    <section class="menu-container">
        <article class="menu-content">
            <a href="/guesspokemon"><h1>Speel</h1></a>
        </article>
        <article class="menu-content">
            <a href="/overzicht"><h1>Overzicht</h1></a>
        </article>
        <article class="menu-content">
            <a href="/teamplanner"><h1>Teamplanner</h1></a>
        </article>
        <article class="menu-content">
            <a href="/compare"><h1>Vergelijken</h1></a>
        </article>
        <article class="menu-content">
            <a href="/"><h1>Uitloggen</h1></a>
        </article>
    </section>
</main>

<aside>
    <section class="current-pokemon-container">
        <article class="current-content">
            <h1>Your pokemon</h1>
            <img src="assets/Hektakun-Pokemon-006-Charizard.72.png" alt="current pokemon">
            <h2>Charizard</h2>
        </article>
    </section>
</aside>

<footer>
    <p>&copy; 2023 PokeAdventures. All rights reserved.</p>
</footer>
</body>
</html>