<html lang="en">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
<header class="navbar">
    <img src="assets/478d8e49233e7de64a3cbb875e526807.png" alt="Logo">
    <nav>
        <ul>
            <li class="hide-navbar"><a href="/guesspokemon">Speel</a></li>
            <li class="hide-navbar"><a href="/overzicht">Overzicht</a></li>
            <li class="hide-navbar"><a href="/teamplanner">TeamPlanner</a></li>
            <li class="hide-navbar"><a href="/index.html">Uitloggen</a> &nbsp<i class="fa-solid fa-user"></i></li>
            <li id="hamburger"><a href="#"><i class="fa-solid fa-bars"></i></a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="menu-container">
        <article class="menu-content">
            <a href="/guesspokemon"><h1>Speel</h1></a>
        </article>
        <article class="menu-content">
            <a href="/overzicht"><h1>Overzicht</h1></a>
        </article>
        <article class="menu-content">
            <a href="/teamplanner"><h1>Teamplanner</h1></a>
        </article>
        <article class="menu-content">
            <a href="/compare"><h1>Vergelijken</h1></a>
        </article>
        <article class="menu-content">
            <a href="/"><h1>Uitloggen</h1></a>
        </article>
    </section>
</main>

<aside>
    <section class="current-pokemon-container">
        <article class="current-content">
            <h1>Your pokemon</h1>
            <img src="assets/Hektakun-Pokemon-006-Charizard.72.png" alt="current pokemon">
            <h2>Charizard</h2>
        </article>
    </section>
</aside>

<footer>
    <p>&copy; 2023 PokeAdventures. All rights reserved.</p>
</footer>
</body>
</html>