<html lang="en">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
        <%- include("partials/headerNC") %>
<main id="main-menu">
    <section class="menu-container">
        <article class="menu-content">
            <a href="/guesspokemon"><h1>Speel</h1></a>
        </article>
        <article class="menu-content">
            <a href="/overzicht"><h1>Overzicht</h1></a>
        </article>
        <article class="menu-content">
            <a href="/teamplanner"><h1>Teamplanner</h1></a>
        </article>
        <article class="menu-content">
            <a href="/compare"><h1>Vergelijken</h1></a>
        </article>
        <article class="menu-content">
            <a href="/"><h1>Uitloggen</h1></a>
        </article>
    </section>
</main>

<aside>
    <%- include("partials/asideCP") %>
</aside>

<footer>
    <p>&copy; 2023 PokeAdventures. All rights reserved.</p>
</footer>
</body>
</html>