<html lang="nl-be">
    <%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main class="main-container">
        <a href="#">
        <section class="box">
            <article class="box-content">
                <div>
                    <h1>Title</h1>
                    <p>Description</p>
                </div>
                <img src="/assets/Hektakun-Pokemon-004-Charmander.72.png" alt="pikachu">
            </article>
        </section>
        </a>
        <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-005-Charmeleon.72.png" alt="pikachu">
                </article>
            </section>
            </a>        <a href="#">
            <section class="box">
                    <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-006-Charizard.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="/detail">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-001-Bulbasaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-002-Ivysaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-003-Venusaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-007-Squirtle.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-008-Wartortle.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-009-Blastoise.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-010-Caterpie.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-011-Metapod.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <p>Description</p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-012-Butterfree.72.png" alt="pikachu">
                </article>
            </section>
            </a>

            <!--Huidige Pokemon-->
            
            <section class="current-pokemon">
                <article>
                    <div>
                    <h1>Huidige Pokemon</h1>
                    <p><i class="fa-solid fa-heart"> HP : 100</i></p>
                    <p><i class="fa-solid fa-hand-fist"> ATK: 10 </i></p>
                    <p><i class="fa-solid fa-shield"> DEF: 5</i></p>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-004-Charmander.72.png" alt="">
                </article>
            </section>


    </main>
    <%- include("partials/footer") %>
</body>
</html>