<html lang="nl-be">
    <%- include("partials/head") %>
<body>
    <%- include("partials/header") %>
    <main class="main-container">
        <a href="#">
        <section class="box">
            <article class="box-content">
                <div>
                    <h1>Title</h1>
                    <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                </div>
                <img src="/assets/Hektakun-Pokemon-004-Charmander.72.png" alt="pikachu">
            </article>
        </section>
        </a>
        <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-005-Charmeleon.72.png" alt="pikachu">
                </article>
            </section>
            </a>        <a href="#">
            <section class="box">
                    <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-006-Charizard.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="detail.html">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-001-Bulbasaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-002-Ivysaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-003-Venusaur.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-007-Squirtle.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-008-Wartortle.72.png" alt="pikachu">
                </article>
            </section>
            </a>        
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-009-Blastoise.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-010-Caterpie.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-011-Metapod.72.png" alt="pikachu">
                </article>
            </section>
            </a>
            <a href="#">
            <section class="box">
                <article class="box-content">
                    <div>
                        <h1>Title</h1>
                        <span id="type1"
                        class="type">Grass</span> <span id="type2" class="type">Poison</span>
                    </div>
                    <img src="/assets/Hektakun-Pokemon-012-Butterfree.72.png" alt="pikachu">
                </article>
            </section>
            </a>

            <!--Huidige Pokemon-->
            <!--
            <section class="current-pokemon">
                <article>
                    <div>
                    <h1>Huidige Pokemon</h1>
                    <p><i class="fa-solid fa-heart"> HP : 100</i></p>
                    <p><i class="fa-solid fa-hand-fist"> ATK: 10 </i></p>
                    <p><i class="fa-solid fa-shield"> DEF: 5</i></p>
                    </div>
                    <img src="assets/Hektakun-Pokemon-004-Charmander.72.png" alt="">
                </article>
            </section>
            -->


    </main>
    <aside>
        <section class="current-pokemon-container">
            <article class="current-content">
                    <h1>Your pokemon</h1>
                    <img src="assets/Hektakun-Pokemon-006-Charizard.72.png" alt="current pokemon">
                    <h2>Charizard</h2>
            </article>
        </section>
        <section class="aside-container">
            <article class="aside-content">
                    <input type="text" placeholder="Search..." id="input-search">
                    <div>
                    <input type="checkbox" id="type1" id="input-checkbox">
                    <label for="type1">Poison</label>
                    <input type="checkbox" id="type2" id="input-checkbox">
                    <label for="type2">Poison</label>
                    </div>
                    <div>
                    <input type="checkbox" id="type3" id="input-checkbox">
                    <label for="type3">Poison</label>
                    <input type="checkbox" id="type4" id="input-checkbox">
                    <label for="type4">Poison</label>
                    </div>
                    <div>
                        <input type="checkbox" id="type5" id="input-checkbox">
                        <label for="type5">Poison</label>
                        <input type="checkbox" id="type6" id="input-checkbox">
                        <label for="type6">Poison</label>
                        </div>
            </article>
        </section>

    </aside>
    <%- include("partials/footer") %>
</body>
</html>