<html lang="nl-be">
<%- include("partials/head") %>
<body>
<%- include("partials/header") %>
<main id="registratie-container">
    <section>
        <form action="">
            <label for="Name">Username</label>
            <input type="text">
            <label for="Password">Password</label>
            <input type="password">
            <label for="email">Email</label>
            <input type="email">
        </form>
    </section>
</main>
<%- include("partials/footer") %>
</body>
</html>