<html lang="nl-be">
<%- include("partials/head") %>
<body>
<%- include("partials/header") %>
<main id="registratie-container">
    <section id="registratie-box">
        <form action="/registratie" method="post">
            <div>
                <label for="name">Username</label>
                <input type="text" name="name" placeholder="Username" id="name">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" id="password">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email" id="email">
            </div>
            <% if (error) { %>
                <p><%= error %></p>
            <% } %>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>
<%- include("partials/footer") %>
</body>
</html>
