<html lang="nl-be">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
    <%- include("partials/header") %>
    <main id="main-detail">
        <h2 class="black-center-text">Bulbasaur</h2>
        <section id="pokemon-detail-container">
            <section class="pokemon-information-container">
                <p class="pokemon-detail-stats"><i class="fa-solid fa-heart"></i> Leven: 200</p>
                <p class="pokemon-detail-stats"><i class="fa-solid fa-hand-fist"></i> Aanval: 10</p>
                <p class="pokemon-detail-stats"><i class="fa-solid fa-shield"></i> Verdediging: 30</p>
                <p class="pokemon-detail-stats"><i class="fa-solid fa-shield"></i> Type: <span id="type1"
                                                                                               class="type">Grass</span> <span id="type2" class="type">Poison</span></p>
                <p class="pokemon-detail-stats"><i class="fa-solid fa-shield"></i> Type: grass</p>
            </section>
            <section id="img-detail-container">
                <img class="img-detail-pokemon" src="assets/detail-bulbasaur.png" alt="Bulbasaur">
            </section>
            <section class="pokemon-information-container">
                <p class="pokemon-detail-stats">Naam: Bulbasaur</p>
                <p class="pokemon-detail-stats">Bijnaam: Lebron</p>
                <p class="pokemon-detail-stats">Gevangen op 13/03/2024</p>
                <p class="pokemon-detail-stats">W0 L0</p>

                <p class="pokemon-detail-stats">Wins: 0 | losses: 0</p>
            </section>
        </section>
        <h2 id="h2-evolution" class="black-center-text">Evolutiepad</h2>
        <section id="pokemon-evolution-container">
            <img src="assets/detail-bulbasaur.png" id="evo1" width="150" alt="Bulbasaur">
            <img src="assets/detail-ivysaur.png" id="evo2" width="200" alt="Ivysaur">
            <img src="assets/detail-venusaur.png" id="evo3" width="200" alt="Venusaur">
            <img src="assets/detail-megavenusaur.png" id="evo4" width="350" alt="MegaVenusaur">
        </section>
    </main>
    <aside>
        <section class="current-pokemon-container">
            <article class="current-content">
                <h1>Your pokemon</h1>
                <img src="assets/Hektakun-Pokemon-006-Charizard.72.png" alt="current pokemon">
                <h2>Charizard</h2>
            </article>
        </section>
        <section id="carousel-container">
            <article class="carousel-content">
                <button class="button-carousel">
                    <i class="fas fa-chevron-up"></i>
                </button>
            </article>
            <article class="carousel-content">
                <img src="assets/Hektakun-Pokemon-024-Arbok.72.png" alt="pokemon">
                <div>
                    <h1>pokemon</h1>
                    <span id="type1"
                          class="type">Grass</span> <span id="type2" class="type">Poison</span>
                </div>
            </article>
            <article class="carousel-content">
                <img src="assets/Hektakun-Pokemon-024-Arbok.72.png" alt="pokemon">
                <div>
                    <h1>pokemon</h1>
                    <span id="type1"
                          class="type">Grass</span> <span id="type2" class="type">Poison</span>
                </div>
            </article>
            <article class="carousel-content">
                <img src="assets/Hektakun-Pokemon-024-Arbok.72.png" alt="pokemon">
                <div>
                    <h1>pokemon</h1>
                    <span id="type1"
                          class="type">Grass</span> <span id="type2" class="type">Poison</span>
                </div>
            </article>
            <article class="carousel-content">
                <img src="assets/Hektakun-Pokemon-024-Arbok.72.png" alt="pokemon">
                <div>
                    <h1>pokemon</h1>
                    <span id="type1"
                          class="type">Grass</span> <span id="type2" class="type">Poison</span>
                </div>
            </article>
            <article class="carousel-content">
                <button class="button-carousel">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </article>
        </section>
    </aside>
    <%- include("partials/footer") %>
</body>
</html>