<html lang="nl-be">
    <head>
        <%- include("partials/head") %>
      </head>
      <body>
    <%- include("partials/header") %>
    <main class="background-image">
        <section class="catch-heading">
            <article>
                <h1>Click To Catch!</h1>
            </article>
        </section>
        <section class="catch-container">
            <article>
                <a class="catch" href="/overzicht"><img src="<%= pokemon.sprites.other.showdown.front_default %>" alt="Hektakun-Pokemon-001-Bulbasaur"></a>
            </article>
        </section>
    </main>
    <%- include("partials/footer") %>
</body>
</html>