* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
        "Header Header Header"
        "Main Main Aside"
        "Footer Footer Footer";
    height: 100vh;
    width: 100vw;
    grid-template-rows: 2% auto 5%;
    grid-auto-columns: auto auto auto;
    color: white;
    background-image: url(/assets/game-background.jpg);
    background-repeat:repeat-y;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}



header {
    grid-area: Header;
    background-color: #ff4848;
}

footer {
    grid-area: Footer;
    background-color: #17213a;
    text-align: center;
    padding: 1em;
    color: #ffffff;
    font-size: 14px;
    border-top: black solid 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1rem 0.25em 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#navbar-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1rem 0.25em 3rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    height: 30px;
    width: auto;
}

#hamburger {
    display: none;
    font-size: 1.5em;
}

#navbar-hamburger,
#navbar-normal {
    display: none;
}

/* pokedex */

#search, .compare-pokemon-input {
    background-color: white;
    width: 100%;
    padding: 0;
    margin-bottom: 1em;
}

.search-pokemon {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 1rem;
    margin: 0 2rem 0 2rem;
}

main {
    grid-area: Main;
    margin: 3em;
}

aside {
    grid-area: Aside;
}

.aside-container {
    margin-right: 2em;
    margin-left: 2em;
    background-color: grey;
    padding: 1em;
    border: solid 0.5em rgb(164, 164, 164);

}

.aside-content {
    color: white;
}

.aside-content div {
    margin-bottom: 0.25em;
}

.current-pokemon-container {
    display: flex;
    padding: 0.5em;
    background-color: white;
    justify-content: center;
    margin: 30% 2em 1em;
    border-radius: 10%;
}

.current-content {
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.current-content img {
    width: 125px;
    height: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    flex: 1 1;
}

.main-container a {
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-out;

}

.main-container a:hover {
    opacity: 80%;
    transform: scale(1.05);
}

.box {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
    border-radius: 15px;
    flex: 1 1;
    box-shadow: 2px 2px 2px grey;
    background-color: white;
    width: 21em;
}


.box-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    color: #083249;
    margin: 0;

}

.box-content span {
    color: white;
}

.box-content img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    padding: 10px;
}

/* registraties */

#registratie-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

#registratie-box {
    background-color: white;
    border-radius: 15px;
    color: black;
    padding: 1em;
    border: 10px solid #ff4848;
    width: 50%;
    max-width: 500px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;
}

label {
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 0.5em;
    box-shadow: none;
    border: 1px solid grey;
    background-color: lightgray;
}

button {
    padding: 0.5em 1em;
    border: none;
    background-color: #ff4848;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
    width: 80%;
    transition: transform 0.2s ease-out;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff4848;
}


/* projecten */

.index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    flex: 1 1;
    background-color: rgb(47, 47, 47);
    width: 100vw;
    margin: 0;
}

.index-container a {
    color: white;
    text-decoration: none;
    margin-top: 2em;
}

.project-box {
    display: flex;
    align-items: center;
    flex: 1 1;
    text-align: center;
    padding: 1em;
}

.project-content img {
    height: 300px;
    width: 300px;
    padding-bottom: 1em;
    object-fit: cover;
}

.project-content h1 {
    font-size: 2em;
    background-color: rgb(34, 0, 0);
    margin-top: -0.5em;
}

#login-container {
    background-color: rgb(51, 51, 51);
    margin: 0;
    padding: 2em;
    border-right: 1px solid black;
}

#login-content {
    margin-top: 1.5em;
}

#login-icon {
    text-align: center;
    justify-content: center;
    background-color: rgb(117, 117, 117);
    margin-top: 1em;
    margin-left: 0.75em;
    margin-right: 0.75em;
    padding: 0.25em;
    font-size: 3em;
    border-radius: 50%;
}

#login-content button {
    padding: 0;
    width: 10.75em;
    height: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: white;
    background-color: #751a1a;
    box-shadow: none;
}

input {
    box-shadow: #083249 1px 1px;
}

#login-content a {
    color: rgb(178, 177, 177);
}

/* Teamplanner */

.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 1 1 150px;
    gap: 10px;
}

.team-container a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-out;
}

.team-container a:hover {
    opacity: 80%;
    transform: scale(1.1);

}

.team-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 1em;
}

.team-content img {
    height: 100px;
    width: auto;
    object-fit: cover;
    padding: 1em;
    border-radius: 50%;
}

.selectionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectionContainer button {
    text-align: center;
}

.selectedPokemon {
    align-items: center;
    justify-content: center;
}

.selectedPokemon img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
}

.selectionBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    gap: 5em;
    border-radius: 15px;
    background-color: white;
    border: #083249 solid 5px;
    color: black;
}

.selectionBox h1 {
    padding-bottom: 1em;
}

#carousel-container {
    display: block;
}

.carousel-content {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0 2em 0 2em;
    border: #083249 solid 1px;
    border-radius: 10px;
    gap: 1em;
    opacity: 95%;
    color: black;
}

.carousel-content div {
    margin-top: 0.5em;
}

.carousel-content img {
    width: 60px;
    height: auto;
}

.button-carousel {
    background-color: white;
    color: darkred;
    width: auto;
    border: none;
    cursor: pointer;
    padding: 0.25em 5em 0.25em 5em;
}

.button-carousel:hover {
    background-color: white;
}

#button-view {
    color: white;
    background-color: #751a1a;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 5em;
    border: none;
    width: 385px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: aliceblue;
    cursor: pointer;
}

#input-search {
    margin-bottom: 1em;
    width: auto;
}

.input-checkbox {
    padding-bottom: 1em;
}

label {
    padding-right: 1em;
}

/* Image Catch Pokemon */


.background-image {
    background-image: url(/assets/catch-pokemon-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.catch img {
    height: 200%;
    width: auto;
}

.catch-container {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    transition: transform 0.2s ease-out;
}

.catch-container:hover {
    transform: scale(2);
    margin-top: 5%;
}

.catch-heading {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 3em;
    padding-bottom: 20%;
    text-shadow: 3px 3px 3px #3a1717;
}

.current-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: #083249;
    padding: 1rem;
    border-radius: 30px;
    border: turquoise solid 2px;
}

.current-pokemon article {
    display: flex;
    flex: 1 1;
}

.current-pokemon h1,
.current-pokemon p {
    padding: 0.5rem;
}

.current-pokemon img {
    width: 100px;
    height: auto;
}

/*GuessPokemon*/
#guess-correct, #guess-incorrect{
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
}
#guess-correct{
    color: green;
}
#guess-incorrect{
    color: red;
}
#guess-alert-container{
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 6px;
}
#body-guess-pokemon {
    background-image: url("/assets/guessBGI1small.png");
    background-position: top;
    background-size: cover;
}

.black-center-text {
    color: black;
    text-align: center;
}
#main-guess-pokemon, #main-compare-pokemon{
    width: 64vw; /*wdith for pushing the aside to make it smaller.*/
    margin-left: auto;
    margin-right: 0;
    /*margins are for centering the guesspokemon image*/
}

#main-guess-pokemon a {
    text-decoration: none;
}

#main-guess-pokemon h2 {
    margin: 4rem 0 0.5rem 0;
}

#pokemon-input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    display: block;
    margin: 0.5rem auto 0 auto;
    border-radius: 20px;
    color: black;
}

#guess-image-container {
    width: 64vw;
    height: 300px;
    margin-left: auto;
    margin-right: 0;
    /*margins are for centering the guesspokemon image*/
}

#img-guess {
    transform: scale(2);
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    filter: brightness(0%);
    transition: filter .5s ease-out;
    transform-origin: center top;
}

#button-submit, #button-submit-compare{
    display: block;
    margin: 0.5rem auto 0 auto;
    width: 10em;
    transition: transform 0.2s ease-out;
    text-decoration: none;
    background-color: #ff4848;
    padding: 4px;
    border-radius: 10px;
    border: none;
}

#button-submit {
    width: 300px;
}
#button-submit:hover, #button-submit-compare:hover {
    transform: scale(1.05);
}

/*test compare*/

/*Compare.html*/
#body-compare{
    background-image: url(/assets/samuel-speziali-4-by-samuel-speziali.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.compare-pokemon-input {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    min-width: 200px;
}

#form-compare{
    margin: auto;
    width: 630px;
    text-align: center;
    background-color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
}
#form-compare h2{
    margin-bottom: 1rem;
}
#form-compare section p{
    color: black;
}
#compare-container {
    display: flex;
    align-items: center;
    text-align: center;
    width: 630px;/*width of the 2 images so it aligns with the form width*/
    margin: auto;
    margin-top: 2rem;
}

.compare-pokemon-info {
    display: flex;
    width: 630px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}
#compare-pokemon-info1{
    padding-right: 15px;
}
#compare-pokemon-info2{
    padding-left: 15px;
}
.img-compare-container{
    background-color: white;
    margin-bottom: 0;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.img-compare {
    width: 300px;
    border: 1px solid black;
}

.pokemon-stats, .compare-pokemon-name {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    background-color: white;
}
.compare-pokemon-name{
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}
.pokemon-stats p, .compare-pokemon-name p {
    color: black;
    font-weight: bold;
}
.stat-higher{
    color: green;
}
.stat-lower{
    color:red;
}
.choose-container {
    display: flex;
    justify-content: space-evenly;

}
@media (max-width: 768px) {
    #form-compare{
        width: 300px;
    }

    #compare-container {
        display: flex;
        flex-flow: row wrap;
        width: 300px;
        gap: 2rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
    }
    #compare-pokemon-info1, #compare-pokemon-info2{
        padding: 0;
    }
    #compare-container {
        margin-top: 0;
    }

    .project-content img {
        width: 250px;
        height: 250px;
    }
}
.choose-content img {
    height: 15em;
    width: auto;
}

/*detail.html*/
.type {
    display: inline-block;
    padding: 3px;
    font-weight: 500;
    border-radius: 0.375rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 4rem;
    color: white;
}

#type1 {
    background-color: #10b981;
    margin: 1px;
}

#type2 {
    margin: 1px;
    background-color: purple;
}

#main-detail {
    margin-top: 4rem;
}
#main-detail h2{
    padding-top: 1rem;
}
#pokemon-detail-allstats-container,
#img-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-detail-container,
#pokemon-evolution-container {
    background-color: white;
    border-radius: 10px;
}

.img-detail-pokemon {
    width: 400px;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.pokemon-information-container {
    width: 25%;
}

.pokemon-detail-stats {
    background-color: #c12828;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: left;
    margin-top: 5px;
    font-weight: bold;
}

#pokemon-evolution-img-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    margin-top: 0;
}

#pokemon-evolution-img-container img {
    max-width: 25%;
    height: auto;
}
#pokemon-evolution-img-container p{
    color: black;
}
#h2-evolution {
    margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {

    #pokemon-evolution-img-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #pokemon-detail-allstats-container {
        margin: 0 auto;
        display: block;
        padding: 2px;
    }

    .pokemon-information-container {
        display: flex;
        width: 100%;
    }

    .pokemon-detail-stats {
        margin-right: 1px;
        width: 25%;
        font-size: 0.75rem;
    }

    .type {
        display: block;
        /* Display as block for stacking */
        width: 100%;
        max-width: 2.75rem;
    }

    /*h1 van project.html kleiner maken note: alle medias moeten later bij mekaar.*/
    #navbar-index {
        font-size: 0.8rem;
    }
}

/* Battle.html */

.battle-background {
    background-image: url(/assets/ArenaTwo.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

.equal-view {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    height: 100%;

}

.battle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-align: center;
    margin-top: 50px;
}

.battle-container img {
    width: 250px;
}

/* menu.ejs */

.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    gap: 25px;
    margin-left: 50%;

}

.menu-content {
    background-color: darkred;
    padding: 1em 5em 1em 5em;
    border-radius: 10px;
    width: 300px;/
}

.menu-content a {
    text-decoration: none;
    color: white;
}


@media (max-width: 768px) {
    #compare-container {
        display: flex;
        flex-flow: row wrap;
        gap: 2rem;
        padding-bottom: 5rem;
        padding-top: 2rem;
    }

    #compare-container {
        margin-top: 0;
    }

    .project-content img {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width:769px) {
    #navbar-normal {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    /*template area for aside*/
    
/*hamburgermenu*/
    #hamburger {
        display: block;
    }

    #hamburger i:hover {
        color: black;
    }

    #navbar-hamburger {
        display: block;
        background-color: #ff4848;
        margin: 0;
        padding: 0;
    }

    #ul-menu {
        background-color: #e24040;
        width: 100%;
    }

    #ul-menu li {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #ul-menu li:hover {
        background-color: black;
        color: black;
    }

    #topnav {
        overflow: hidden;
        position: relative;
        width: 100vw;
    }

    #topnav #ul-menu {
        display: none;
    }

    #nav-menu li:hover {
        background-color: black;
    }

    #topnav a {
        color: white;
        padding: 0;
        text-decoration: none;
        font-size: 17px;
        display: block;
        margin-left: 3rem;
    }

    #topnav a.icon {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 10vw;
        margin-top: 8px;
    }

    #topnav a.icon i {
        margin: auto;
    }

    /*aside-current-pokemon*/
    .current-pokemon img {
        width: 50px;
        height: auto;
    }

    .current-pokemon h1,
    .current-pokemon p {
        padding: 0.2rem;
        font-size: 10px;
    }

    .current-pokemon {
        bottom: 1%;
    }

}